* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Change justify content to flex-end if we want the navbar buttons and login buttons to be on the same side*/
.navbar {
    background:rgb(50, 163, 255);
    padding: 30px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

/* .navbuttons{
    flex: 1;
} */


.nav_links{
    margin: 0;
    padding: 0;
    /* float: right; */
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 16px;
}

.nav_links li a {
    text-decoration: none;
    color: white;
}

.user-buttons button {
    /* background-color: rgba(255, 255, 0, 0.938);
    color: white;
    font-weight: bold; */
    font-size: 16px;
    padding: 5px 12px;
    display: inline-block;
    text-align: center;
    border: none;
    margin: 2px;
}

.login-btn {
    background-color: rgba(255, 255, 0, 0.938);
    color: white;
    font-weight: bold;
}

/* Uncomment below if we want the nav bar buttons to be on the right with the login and register buttons*/
/* .logo {
    margin-right: auto;
} */

.logo a{
    font-weight: bold;
    color: white;
    font-size: 16px;
    text-align: center;
}
