.NavBarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3aafa9;
    margin: 0;
    padding: 0px 11em;
}

.navbar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavBarItems ul {
    list-style: none;
    cursor: pointer;
}

.navbar-left li {
    display: inline-block;
    padding: 0px 15px;
    font-size: 16px;
}

.navbar-left li:hover{
    background-color: white;
    border-radius: 10px;
    transition: all 0.2s ease-out;
}

.navbar-logo{
    font-size: 18px;
    margin-left: 1rem;
    cursor: pointer;
    color: white;
}

.navbar-logo i{
    margin-left: 5px;
}

.search-bar{
    margin-left: 0.5em;
}

.search-bar input{
    width: 30vw;
    border-radius: 5px;
    text-align: left;
    font-size: 16px;
    padding: 0.3em;
}

.nav-menu li{
    display: inline-block;
    padding: 0px 10px;
    margin-right: 1rem;
}

/* .nav-menu li a:hover{
    color: yellow;
    transition: all 0.2s ease-out;
} */

.nav-menu li:hover{
    background-color: #6d76f7;
    border-radius: 20px;
}

.nav-links{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav-links:hover{
    color: yellow;
    transition: all 0.2s ease-out;
}