.NavBarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: blue;
    margin: 0;
    padding: 0px 11em;
}

.navbar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left ul {
    list-style: none;
    cursor: pointer;
}

.navbar-left li {
    display: inline-block;
    padding: 0px 15px;
    font-size: 16px;
    color: white;
    transition: all 0.3s ease 0s;
}

.navbar-left li:hover{
    color: red;
}

.navbar-logo{
    font-size: 18px;
    margin-left: 1rem;
    cursor: pointer;
    color: white;
}

.search-bar input{
    width: 20vw;
    border-radius: 5px;
    text-align: left;
    font-size: 16px;
    padding: 0.3em;
}

.nav-menu{
    list-style: none;
}

.nav-menu li{
    display: inline-block;
    padding: 0px 10px;
    margin-right: 1rem;
}

.nav-menu li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav-menu li a:hover{
    color: red;
}