.NavBarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #264143;
    margin: 0;
    padding: 0px 11em;
}

.NavBarItems i{
    color: white;
}

.navbar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavBarItems ul {
    list-style: none;
    cursor: pointer;
}

.navbar-left li {
    display: inline-block;
    padding: 0px 15px;
    font-size: 16px;
}

.navbar-left li:hover{
    background-color: rgb(204, 206, 205);
    border-radius: 10px;
    transition: all 0.2s ease-out;
}

.navbar-logo{
    font-size: 18px;
    margin-left: 1rem;
    cursor: pointer;
    color: white;
}

.navbar-logo i{
    margin-left: 5px;
}

.search-bar{
    margin-left: 0.5em;
}

.search-bar input{
    width: 30vw;
    border-radius: 5px;
    text-align: left;
    font-size: 16px;
    padding: 0.3em;
}

.nav-menu li{
    display: inline-block;
    padding: 0px 10px;
    margin-right: 1rem;
}

/* .nav-menu li a:hover{
    color: yellow;
    transition: all 0.2s ease-out;
} */

.nav-menu li:hover{
    background-color: rgb(204, 206, 205);
    border-radius: 20px;
    transition: all 0.3s ease 0s;
}

.nav-links{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/* .nav-links:hover{
    color: yellow;
    transition: all 0.2s ease-out;
} */

.minimized-menu{
    display: none;
    cursor: pointer;
    font-size: 20px;
}

.search-icon{
    display: none;
    cursor: pointer;
    font-size: 20px;
}

@media (max-width: 1200px) {
    .NavBarItems{
        padding: 0 6em;
    }

    .navbar-logo{
        margin-left: 0;
    }
}

@media (max-width: 1000px) {
    .NavBarItems{
        padding: 0 2em;
    }
}

@media (max-width: 600px){
    .NavBarItems {
        padding: 0 3em;
    }

    .navbar-logo {
        font-size: 22px;
    }

    .minimized-menu {
        display: inline;
    }

    .nav-links {
        display: none;
    }

    .search-bar {
        display: none;
    }

    .search-icon {
        display: inline;
    }

    .navbar-left li {
        padding: 0;
        margin: 0;
    }

    .nav-menu li{
        padding: 0;
        margin: 0;
    }
}