/*** NavBarItems -> The entire nav bar ***/

.NavBarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #264143;
    margin: 0;
    padding: 0px 11em;
}

.NavBarItems i{
    color: white;
}

/*** navbar-left -> The leftmost menu links in the nav bar, including the logo ***/

.navbar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left li {
    display: inline-block;
    padding: 0px 15px;
    font-size: 16px;
}

.navbar-left li:hover{
    background-color: rgb(204, 206, 205);
    border-radius: 10px;
    transition: all 0.2s ease-out;
}

/*** Logo -> The logo on the left side of the navbar ***/

.navbar-logo{
    font-size: 18px;
    margin-left: 1rem;
    cursor: pointer;
    color: white;
}

.navbar-logo i{
    margin-left: 5px;
}

/*** Searchbar ***/

.search-bar{
    margin-left: 0.5em;
}

.search-bar form{
    display: flex;
    color: #555;
    background-color: white;
    padding: 1px;
    border: none;
    border-radius: 5px;
}

.search-bar input[type=text]{
    background: transparent;
    width: 25vw;
    text-align: left;
    font-size: 14px;
    padding: 0.3em;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}

.search-bar input[type=text]::placeholder {
    color: #bbb;
}

.search-bar button{
    padding: 0 10px;
    background: transparent;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: inherit;
    cursor: pointer;
    overflow: hidden;
    opacity: 0.7;
}

.search-bar button:hover{
    opacity: 1;
}

.search-bar input:focus {
    box-shadow: 0 0 10px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
}

.search-bar button i{
    color: #bbb;
}


/*** nav-menu -> The rightmost navbar links that are presented as icons ***/

.nav-menu ul{
    padding: 0;
}

.nav-menu li{
    display: inline-block;
    padding: 0px 10px;
    margin-right: 1rem;
}

.nav-menu li:hover{
    background-color: rgb(204, 206, 205);
    border-radius: 20px;
    transition: all 0.3s ease 0s;
}

/*** nav-links -> Individual links on the navbar ***/

.nav-links{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/*** collapsible-menu -> The responsive hamburger menu ***/

.hamburger{
    display: none;
    cursor: pointer;
    font-size: 20px;
}

.collapsible-menu{
    display: none;
    padding: 0;
    margin: 0;
}

.collapsible-menu-active{
    display: block;
    text-align: center;
    justify-content: center;
    position: fixed;
    left: 0;
    transition: 0.4s;

    z-index: 9;

    width: 100%;
    min-height: 100vh;
    
    background-color: #264143;
    
    padding-top: 60px;
    margin: 0;
}

.collapsible-menu-active ul{
    padding: 0;
    margin: 0 auto 16px;
    max-width: 200px;
}

.collapsible-menu-active li{
    padding: 12px 16px;
    font-size: 16px;
    margin-bottom: 15px;
    background-color: #34575a;
}

.collapsible-menu-active a{
    color: white;
}

.collapsible-menu-active li:hover{
    background-color: #4f8a8f;
}

.collapsible-menu-active hr{
    border: 0;
    clear: both;
    display: block;
    width: 96%;               
    background-color:#1a2c2e;
    height: 2px;
    margin-bottom: 16px;
}

@media (max-width: 1200px) {
    .NavBarItems{
        padding: 0 6em;
    }

    .navbar-logo{
        margin-left: 0;
    }
}

@media (max-width: 1000px) {
    .NavBarItems{
        padding: 0 2em;
    }
}

@media (max-width: 768px){
    .NavBarItems {
        padding: 0 3em;
    }

    .navbar-logo {
        font-size: 18px;
    }

    .hamburger {
        display: block;
        position: relative;
        user-select: none;
        appearance: none;
        border: none;
        background: none;
        outline: none;
    }

    .hamburger span{
        display: block;
        width: 30px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        border-radius: 6px;
        background-color: white;
    }

    .nav-links {
        display: none;
    }

    .search-bar input{
        width: 40vw;
        font-size: 14px;
    }

    .search-icon {
        display: inline;
    }

    .navbar-left li {
        padding: 0;
        margin: 0;
    }

    .nav-menu li{
        padding: 0;
        margin: 0;
    }
}